doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/client.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800" rel="stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/306efd2e67.css')



  body
    block content