extends adminLayout

block content
  h3 Sub Categories
  a.success.button(href='/admin/subcategories/add')  Add Sub Category
  table
      thead
          tr
            th(width='200') Id
            |       
            th(width='150') Name
            |       
            th(width='150') Category
      tbody
        each subcategory, i in subcategories
          tr
            td #{subcategory._id}
            td #{subcategory.name}
            td #{subcategory.category.name}