@media all and (max-width: 420px) {
	.brand {
		a {
			margin-left: 40px;
		}
	}
  .toggle {
  	display: inline !important;
  }
	.sidebar {
		position: absolute;
		width: 44% !important;
		margin-top: 0.9% !important;
		left: -240px;
		top: 50px;
		transition: all 300ms ease-in;
		box-shadow: 2px 2px 30px rgba(0,0,0,0.4) !important;
	}

	#sidebartoggler {
		&:checked + .page-wrap {
			.sidebar {
				left: 0px;
			}
		}
	}
	.category-details {
		width: 100% !important;
		.nav-details {
			margin-top: 12% !important;
		}
		.card-row {
			.newsletter-card {
				margin-top: 2% !important;
			}
		}
	}
}

@media all and (min-width: 320px) {
   @for $i from 1 through 12 {
     .col-wd-#{$i} {width: (8.3334% * $i);}
   }
   body {
		font-size: 0.85em;
		.hero-banner {
      margin-top: 9%;
		}
	}
}

@media all and (min-width: 420px) {
	body {
		.hero-banner {
			margin-top: 6%;
		}
		font-size: 0.8em;
		.category-details {
			margin-top: 8%;
		}
		.sidebar {
			margin-top: 6.6%;
		}
	}
}

@media all and (min-width: 768px) {
	@for $i from 1 through 12 {
		.col-md-#{$i} {width: (8.3334% * $i);}
	}

	body {
		font-size: 0.9em;
		.hero-banner {
			margin-top: 5%;
		}
		.category-details {
			margin-top: 8%;
		}
		.sidebar {
			margin-top: 7%;
		}
	}
}

@media all and (min-width: 960px) {
	@for $i from 1 through 12 {
		.col-sm-#{$i} {width: (8.3334% * $i);}
	}

	body {
		font-size: 1em;
		.hero-banner {
			margin-top: 4%;
		}
		.main-body {
			.categories {
				.category-tab {
					.sub-category-list-right {
						width: 414px;
					}
				}
			}
			margin-top: 28%;
		}
		.sidebar {
			margin-top: 4.8% !important;
		}
	}
}

@media all and (min-width: 1350px) {
	@for $i from 1 through 12 {
		.col-xs-#{$i} {width: (8.3334% * $i);}
	}
	body {
		.sidebar {
			margin-top: 4% !important;
		}
		.category-details {
			margin-top: 4%;
		}
    .main-body {
    	.categories {
    		.category-tab {
    			.sub-category-list-right {
    				width: 551px;
    			}
    		}
    	}
    }
	}
}
