@media all and (max-width: 420px) {
  .brand a {
    margin-left: 40px; }

  .toggle {
    display: inline !important; }

  .sidebar {
    position: absolute;
    width: 44% !important;
    margin-top: 0.9% !important;
    left: -240px;
    top: 50px;
    transition: all 300ms ease-in;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.4) !important; }

  #sidebartoggler:checked + .page-wrap .sidebar {
    left: 0px; }

  .category-details {
    width: 100% !important; }
    .category-details .nav-details {
      margin-top: 12% !important; }
    .category-details .card-row .newsletter-card {
      margin-top: 2% !important; } }
@media all and (min-width: 320px) {
  .col-wd-1 {
    width: 8.3334%; }

  .col-wd-2 {
    width: 16.6668%; }

  .col-wd-3 {
    width: 25.0002%; }

  .col-wd-4 {
    width: 33.3336%; }

  .col-wd-5 {
    width: 41.667%; }

  .col-wd-6 {
    width: 50.0004%; }

  .col-wd-7 {
    width: 58.3338%; }

  .col-wd-8 {
    width: 66.6672%; }

  .col-wd-9 {
    width: 75.0006%; }

  .col-wd-10 {
    width: 83.334%; }

  .col-wd-11 {
    width: 91.6674%; }

  .col-wd-12 {
    width: 100.0008%; }

  body {
    font-size: 0.85em; }
    body .hero-banner {
      margin-top: 9%; } }
@media all and (min-width: 420px) {
  body {
    font-size: 0.8em; }
    body .hero-banner {
      margin-top: 6%; }
    body .category-details {
      margin-top: 8%; }
    body .sidebar {
      margin-top: 6.6%; } }
@media all and (min-width: 768px) {
  .col-md-1 {
    width: 8.3334%; }

  .col-md-2 {
    width: 16.6668%; }

  .col-md-3 {
    width: 25.0002%; }

  .col-md-4 {
    width: 33.3336%; }

  .col-md-5 {
    width: 41.667%; }

  .col-md-6 {
    width: 50.0004%; }

  .col-md-7 {
    width: 58.3338%; }

  .col-md-8 {
    width: 66.6672%; }

  .col-md-9 {
    width: 75.0006%; }

  .col-md-10 {
    width: 83.334%; }

  .col-md-11 {
    width: 91.6674%; }

  .col-md-12 {
    width: 100.0008%; }

  body {
    font-size: 0.9em; }
    body .hero-banner {
      margin-top: 5%; }
    body .category-details {
      margin-top: 8%; }
    body .sidebar {
      margin-top: 7%; } }
@media all and (min-width: 960px) {
  .col-sm-1 {
    width: 8.3334%; }

  .col-sm-2 {
    width: 16.6668%; }

  .col-sm-3 {
    width: 25.0002%; }

  .col-sm-4 {
    width: 33.3336%; }

  .col-sm-5 {
    width: 41.667%; }

  .col-sm-6 {
    width: 50.0004%; }

  .col-sm-7 {
    width: 58.3338%; }

  .col-sm-8 {
    width: 66.6672%; }

  .col-sm-9 {
    width: 75.0006%; }

  .col-sm-10 {
    width: 83.334%; }

  .col-sm-11 {
    width: 91.6674%; }

  .col-sm-12 {
    width: 100.0008%; }

  body {
    font-size: 1em; }
    body .hero-banner {
      margin-top: 4%; }
    body .main-body {
      margin-top: 28%; }
      body .main-body .categories .category-tab .sub-category-list-right {
        width: 414px; }
    body .sidebar {
      margin-top: 4.8% !important; } }
@media all and (min-width: 1350px) {
  .col-xs-1 {
    width: 8.3334%; }

  .col-xs-2 {
    width: 16.6668%; }

  .col-xs-3 {
    width: 25.0002%; }

  .col-xs-4 {
    width: 33.3336%; }

  .col-xs-5 {
    width: 41.667%; }

  .col-xs-6 {
    width: 50.0004%; }

  .col-xs-7 {
    width: 58.3338%; }

  .col-xs-8 {
    width: 66.6672%; }

  .col-xs-9 {
    width: 75.0006%; }

  .col-xs-10 {
    width: 83.334%; }

  .col-xs-11 {
    width: 91.6674%; }

  .col-xs-12 {
    width: 100.0008%; }

  body .sidebar {
    margin-top: 4% !important; }
  body .category-details {
    margin-top: 4%; }
  body .main-body .categories .category-tab .sub-category-list-right {
    width: 551px; } }
